.container {
  width: 100%;
  margin-top: 10em;
  max-width: 1000px;
  margin: 20px auto;
}
.text {
  padding: 2px auto;
}

.ant-list-item {
  display: flex !important;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}